@{
    ViewBag.Title = "Ogrenci Guncelle";
}

@using RandevuSistemi1.Models


<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Öğrenci Guncelleme Sayfası</h4>
            <form class="form-horizontal style-form" action="/Ogrenci/OgrenciGuncelle" method="post" role="form">
                <input type="hidden" name="OgrId" value="@ViewBag.ogr.OgrId" />
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Öğrenci No</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="Öğrenci no giriniz" name="OgrNo" value="@ViewBag.ogr.OgrNo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Ad</label>
                    <div class="col-sm-10">
                        <input type="text" value="@ViewBag.ogr.Ad" class="form-control" placeholder="Öğrenci adı giriniz" name="Ad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Soyad</label>
                    <div class="col-sm-10">
                        <input type="text" value="@ViewBag.ogr.Soyad" class="form-control " placeholder="Öğrenci soyadı giriniz" name="Soyad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Eposta</label>
                    <div class="col-sm-10">
                        <input type="email" value="@ViewBag.ogr.EPosta" class="form-control " placeholder="Öğrenci soyadı giriniz" name="EPosta">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Fakulte</label>
                    <div class="col-sm-10">
                        <select name="FakulteId" class="form-control">
                            @foreach (Fakulteler item in ViewBag.fakulte)
                            {
                                if (@item.FakulteId == @ViewBag.ogr.FakulteId)
                                {
                                    <option value="@item.FakulteId" selected>@item.FakulteAd</option>
                                }
                                else
                                {
                                    <option value="@item.FakulteId">@item.FakulteAd</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Bolum</label>
                    <div class="col-sm-10">
                        <select name="BolumId" class="form-control">
                            @foreach (Bolumler item in ViewBag.bolum)
                            {
                                if (@item.BolumId == @ViewBag.ogr.BolumId)
                                {
                                    <option value="@item.BolumId" selected>@item.BolumAd</option>
                                }
                                else
                                {
                                    <option value="@item.BolumId">@item.BolumAd</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Parola</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="Parola giriniz" name="Parola">
                    </div>
                </div>
                <button type="submit" class="btn btn-theme ">Kaydet</button>
            </form>
        </div>
    </div>
</div>
